
<header class="p-3 mb-3 border-bottom sticky-top bd-navbar" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


          <img src="./assets/images/logo.png"  width="12%" role="img">


        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
          <!-- <li><a href="#" class="nav-link px-2 link-body-emphasis">Documenti</a></li> -->

        </ul>




        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ">{{user.name}} {{user.surname}}</div>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./assets/images/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <!-- <li><a class="dropdown-item" href="#">Impostazioni</a></li>
            <li><a class="dropdown-item" href="#">Profilo</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" (click)="onLogout()" routerLink="/">Esci</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
