<section class="" style="background-color: hsla(204, 100%, 37%, 0.819);">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">

            <div>
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="takeout-title">
                  <h1>Takeout Dati</h1>
                  <p>Attenzione, procedere con cautela</p>
                </div>
                <div>
                  <h3>Cancellazione Account</h3>
                  <button (click)="onDelete()" class="btn btn-danger btn-lg">Procedi con la cancellazione</button>
                </div>

                <br>

                <div>
                  <h3>Download dati</h3>
                  <button (click)="onDownload()" class="btn btn-primary btn-lg">Procedi con il download dei dati</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
