<div id="container">
    <div id="video-and-controls">
      <div id="video-grid">
        <p *ngIf="showError">{{error}}</p>
        <p *ngIf="showLoading">Chiamata in corso...</p>
        <video id="remote-video" #remoteVideo></video>
        <video id="local-video" #localVideo [muted]="true"></video>
      </div>
      <div id="controls">
        <button id="start-call" class="button" *ngIf="startCallVisible" (click)="startCall()">Avvia chiamata</button>
        <button id="end-call" class="button" *ngIf="!startCallVisible" (click)="endCall()">Fine chiamata</button>
        <button id="mute-audio" class="button">Disattiva audio</button>
        <button id="mute-video" class="button">Disattiva video</button>
      </div>
    </div>
    <app-call-form [visitID]="visitID"></app-call-form>
  </div>
