<div id="container">
    <div id="video-and-controls">
      <div id="video-grid">
        <p *ngIf="showLoading">Chiamata in corso...</p>
        <video id="remote-video" #remoteVideo></video>
        <video id="local-video" #localVideo [muted]="true"></video>
      </div>
      <div id="controls">
        <button id="end-call" class="button" (click)="endCall()">Fine chiamata</button>
        <button id="mute-audio" (click)="muteAudio()" class="button">{{ isMicEnabled ? "Disabilita microfono" : "Abilita microfono"}}</button>
        <button id="mute-video" (click)="muteVideo()" class="button">{{ isVideoEnabled ? "Disabilita webcam" : "Abilita webcam"}}</button>
      </div>
    </div><div class="form">
    <app-call-form [visitID]="visitID"></app-call-form>
    </div>
  </div>
