<section  style="background-color: hsla(204, 100%, 37%, 0.819); height: 100%;">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">

            <div>
              <div class="card-body p-4 p-lg-5 text-black">

                <form #loginForm="ngForm" (submit)="submit()">

                  <div class="d-flex align-items-center mb-3 pb-1">

                    <img alt="logo" src="../assets/images/logo.png" class="logo">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Accedi al tuo account</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Email</label>
                    <input type="email" id="emailField" class="form-control form-control-lg" name="email" [(ngModel)]="email" placeholder="Inserisci Email" required
                    #emailInput="ngModel" />


                  </div>

                  <div class="form-outline mb-4">

                    <label class="form-label" for="form2Example27">Password</label>
                    <input type="password" id="passwordField" class="form-control form-control-lg" name="password" placeholder="Inserisci password"
                      [(ngModel)]="password" required />

                  </div>

                  <div class="d-grid gap-2 col-6 mx-auto">

                    <button [disabled]="loginForm.form.invalid" class="btn btn_primary btn-dark btn-lg btn-block">
                      Login
                    </button>
                  </div>

                  <br>
                  <p *ngIf="showError" style="color: red;">Email o password errate</p>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Non hai un account? <a href="signup"
                      style="color: #393f81;">Registrati qui</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

