<!-- video-chat.component.html -->

<div class="video-chat-container">
  <div class="participant" id="participant1">
    <video autoplay id="local-video"></video>
    <div class="participant-info">You</div>
  </div>
  
  <div class="participant" id="participant2">
    <video autoplay id="remote-video"></video>
    <div class="participant-info">Participant 2</div>
  </div>

  <div class="button-container">
    <button class="button" (click)="endCall()">Fine chiamata</button>
    <button class="button" (click)="muteAudio()">{{ isMicEnabled ? "Disabilita microfono" : "Abilita microfono"}}</button>
  </div>
</div>

<app-call-form [visitID]="visitID"></app-call-form>
