<section class="" style="background-color: hsla(204, 100%, 37%, 0.819);">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">

            <div>
              <div class="card-body p-4 p-lg-5 text-black">

                <p><strong>Telemed Politica sulla Privacy</strong></p>
                <p>La nostra Politica sulla Privacy è stata aggiornata l'ultima volta il 01/02/2024.</p>
                <p>Questa Politica sulla Privacy descrive le nostre politiche e procedure sulla raccolta, l'uso e la
                  divulgazione delle tue informazioni quando utilizzi il Servizio e ti informa sui tuoi diritti alla
                  privacy e su come la legge ti protegge.</p>
                <p>Utilizziamo i tuoi dati personali per fornire e migliorare il Servizio. Utilizzando il Servizio,
                  accetti la raccolta e l'uso delle informazioni in conformità con questa Politica sulla Privacy.</p>
                <p><strong>Interpretazione e Definizioni</strong></p>
                <p><strong>Interpretazione</strong></p>
                <p>Le parole la cui iniziale è in maiuscolo hanno significati definiti nelle seguenti condizioni. Le
                  seguenti definizioni avranno lo stesso significato indipendentemente dal fatto che appaiano al
                  singolare o al plurale.</p>
                <p><strong>Definizioni</strong></p>
                <p>Ai fini di questa Politica sulla Privacy:</p>
                <ul>
                  <li>
                    <p><strong>"Account"</strong> significa un account unico creato per te per accedere al nostro
                      Servizio o a parti del nostro Servizio.</p>
                  </li>
                  <li>
                    <p><strong>"Società"</strong> (denominata anche "la Società", "Noi", "Il Nostro" o "I Nostri" in
                      questo Accordo) si riferisce a "Telemed". Per quanto riguarda il GDPR, la
                      Società è il Titolare del Trattamento.</p>
                    <p>Per il GDPR, la Società è il Titolare del Trattamento.</p>
                  </li>
                  <li>
                    <p><strong>"Paese"</strong> si riferisce all'Italia.</p>
                  </li>
                  <li>
                    <p><strong>"Cookie"</strong> sono piccoli file che vengono inseriti sul tuo computer, dispositivo
                      mobile o su qualsiasi altro dispositivo da un sito web, contenenti vari tipi di informazioni.</p>
                  </li>
                  <li>
                    <p><strong>"Titolare del Trattamento"</strong>, ai fini del GDPR (Regolamento Generale sulla
                      Protezione dei Dati), si riferisce alla Società come persona giuridica che da sola o
                      congiuntamente ad altri determina le finalità e i mezzi del trattamento dei Dati Personali.</p>
                  </li>
                  <li>
                    <p><strong>"Dispositivo"</strong> significa qualsiasi dispositivo che può accedere al Servizio come
                      un computer, un cellulare o un tablet digitale.</p>
                  </li>
                  <li>
                    <p><strong>"Dati Personali"</strong> sono tutte le informazioni che si riferiscono a un individuo
                      identificato o identificabile.</p>
                    <p>Per gli scopi del GDPR, i Dati Personali significano qualsiasi informazione relativa a te come un
                      nome, un numero di identificazione, dati di localizzazione, identificatore online o uno o più
                      fattori specifici alla tua identità fisica, fisiologica, genetica, mentale, economica, culturale o
                      sociale.</p>
                  </li>
                  <li>
                    <p><strong>"Servizio"</strong> si riferisce al Sito Web di Telemed.</p>
                  </li>
                  <li>
                    <p><strong>"Fornitore del Servizio"</strong> significa qualsiasi persona fisica o giuridica che
                      elabora i dati per conto della Società. Si riferisce a società o individui di terze parti
                      impiegati dalla Società per facilitare il Servizio, per fornire il Servizio per conto della
                      Società, per eseguire servizi correlati al Servizio o per assistere la Società nell'analisi di
                      come viene utilizzato il Servizio.</p>
                    <p>Per lo scopo del GDPR, i Fornitori del Servizio sono considerati Responsabili del Trattamento.
                    </p>
                  </li>
                  <li>
                    <p><strong>"Dati di Utilizzo"</strong> si riferiscono a dati raccolti automaticamente, generati
                      dall'uso del Servizio o dall'infrastruttura del Servizio stesso (ad esempio, la durata di una
                      visita alla pagina).</p>
                  </li>
                  <li>
                    <p><strong>"Sito Web"</strong> si riferisce a Telemed, accessibile da falgsc.eu.org.</p>
                  </li>
                  <li>
                    <p><strong>"Tu"</strong> significa l'individuo che accede o utilizza il Servizio, o l'azienda o
                      qualsiasi altra entità giuridica per conto della quale tale individuo sta accedendo o utilizzando
                      il Servizio, se applicabile.</p>
                    <p>Ai sensi del GDPR (Regolamento Generale sulla Protezione dei Dati), puoi essere definito come
                      l'Interessato o come l'Utente in quanto sei l'individuo che utilizza il Servizio.</p>
                  </li>
                </ul>
                <p><strong>Raccolta e Utilizzo dei Tuoi Dati Personali</strong></p>
                <p><strong>Tipi di Dati Raccolti</strong></p>
                <p><strong>Dati Personali</strong></p>
                <p>Mentre utilizzi il nostro Servizio, potremmo chiederti di fornirci determinate informazioni personali
                  identificabili che possono essere utilizzate per contattarti o identificarti. Le informazioni
                  personali identificabili possono includere, ma non sono limitate a:</p>
                <ul>
                  <li>
                    <p>Indirizzo email</p>
                  </li>
                  <li>
                    <p>Nome e cognome</p>
                  </li>
                  <li>
                    <p>Data di nascita</p>
                  </li>
                  <li>
                    <p>Informazioni sulla professione</p>
                  </li>
                  <li>
                    <p>Numero di telefono</p>
                  </li>
                  <li>
                    <p>Indirizzo, Stato, Provincia, CAP, Città</p>
                  </li>
                  <li>
                    <p>Dati di Utilizzo</p>
                  </li>
                </ul>

                <p><strong>Dati di Utilizzo</strong></p>
                <p>I Dati di Utilizzo possono includere informazioni come l'indirizzo Protocollo Internet del Tuo
                  Dispositivo (ad esempio, indirizzo IP), il tipo di browser, la versione del browser,
                  identificatori univoci del dispositivo e altri dati diagnostici.</p>
                <p>Quando accedi al Servizio tramite un dispositivo mobile, possiamo raccogliere automaticamente
                  determinate informazioni, tra cui, ma non solo, il tipo di dispositivo mobile che usi, l'ID univoco
                  del tuo dispositivo mobile, l'indirizzo IP del tuo dispositivo mobile, il sistema operativo mobile, il
                  tipo di browser Internet mobile che usi, identificatori univoci del dispositivo e altri dati
                  diagnostici.</p>
                <p>Questi dati vengono inviati automaticamente dal browser usato per visitare il nostro Servizio ma non
                  vengono
                  memorizzati permanentemente in alcun modo, e persistono fino allo scadere della sessione d'utilizzo.
                </p>
                <p><strong>Tecnologie di Tracciamento e Cookie</strong></p>
                <p>Utilizziamo Cookie per memorizzare la sessione dell'Utente sul nostro Servizio
                  permettendo il mantenimento dell'accesso.
                  Le tecnologie che utilizziamo includono:</p>
                <ul>
                  <li><strong>Cookies o Cookie del Browser.</strong> Un cookie è un piccolo file posizionato sul Tuo
                    Dispositivo. Puoi istruire il tuo browser a rifiutare tutti i Cookie o a indicarti quando un Cookie
                    viene inviato. Tuttavia, se non accetti i Cookie, potresti non essere in grado di utilizzare alcune
                    parti del nostro Servizio. A meno che tu non abbia modificato le impostazioni del tuo browser in
                    modo che rifiuti i Cookie, il nostro Servizio potrebbe utilizzare i Cookie.</li>
                </ul>
                <p>I Cookie possono essere "Persistenti" o "di Sessione". I Cookie Persistenti rimangono sul tuo
                  computer personale o sul dispositivo mobile quando vai offline, mentre i Cookie di Sessione vengono
                  eliminati non appena chiudi il tuo browser web.</p>
                <p>Utilizziamo Cookie Persistenti per gli scopi indicati di seguito:</p>
                <ul>
                  <li>
                    <p><strong>Cookies Necessari / Essenziali</strong></p>
                    <p>Tipo: Cookie Persistenti</p>
                    <p>Amministrati da: Noi</p>
                    <p>Scopo: Questi Cookie sono essenziali per fornirti i servizi disponibili attraverso il Sito Web e
                      per consentirti di utilizzare alcune delle sue funzionalità. Aiutano ad autenticare gli utenti e a
                      prevenire un uso fraudolento degli account utente. Senza questi Cookie, i servizi richiesti non
                      possono essere forniti e utilizziamo questi Cookie solo per fornirti quei servizi. Questi Cookie
                      persistono solo per un limitato periodo di tempo, e scadono automaticamente.</p>
                  </li>
                </ul>
                <p>La Compagnia può utilizzare i Dati Personali per i seguenti scopi:</p>
                <ul>
                  <li>
                    <p><strong>Per fornire e mantenere il nostro Servizio</strong>
                  </li>
                  <li>
                    <p><strong>Per gestire il Tuo Account:</strong> per gestire la Tua registrazione come utente del
                      Servizio. I Dati Personali che fornisci possono darti accesso a diverse funzionalità del Servizio
                      che sono disponibili per te come utente registrato.</p>
                  </li>
                  <li>
                    <p><strong>Per l'esecuzione dello scopo del Servizio:</strong> permettere l'utilizzo dei servizi di
                      videochiamate
                      e gestione delle visite.</p>
                  </li>
                  <li>
                    <p><strong>Per gestire le Tue richieste:</strong> Per gestire e soddisfare le tue richieste a Noi.
                    </p>
                  </li>
                </ul>
                <p>Non condividiamo i tuoi dati personali con nessun Servizio di Terze Parti.</p>
                <p><strong>Conservazione dei Tuoi Dati Personali</strong></p>
                <p>La Compagnia conserverà i Tuoi Dati Personali solo per il tempo necessario per gli scopi stabiliti in
                  questa Informativa sulla Privacy. Conserveremo e utilizzeremo i Tuoi Dati Personali nella misura
                  necessaria per ottemperare ai nostri obblighi legali (ad esempio, se siamo tenuti a conservare i tuoi
                  dati per rispettare le leggi applicabili), risolvere dispute e far rispettare i nostri accordi legali
                  e le nostre politiche.</p>
                <p>La Compagnia conserverà i dati fino a quando l'Utente continuerà ad utilizzare il Servizio, offrendo
                  la capacità all'Utente di eliminare o richiedere in qualsiasi momento i dati personali utilizzando le
                  funzioni presenti nella pagina del Profilo.</p>
                <p><strong>Trasferimento dei Tuoi Dati Personali</strong></p>
                <p>Le tue informazioni, compresi i Dati Personali, sono elaborate presso gli uffici operativi della
                  Compagnia e in qualsiasi altro luogo in cui si trovano le parti coinvolte nel trattamento. Ciò
                  significa che queste informazioni possono essere trasferite a computer situati al di fuori del tuo
                  stato, provincia, paese o altra giurisdizione governativa dove le leggi sulla protezione dei dati
                  possono differire da quelle della tua giurisdizione.</p>
                <p>Il tuo consenso a questa Informativa sulla Privacy seguito dalla tua presentazione di tali
                  informazioni rappresenta la tua accettazione di tale trasferimento.</p>
                <p>La Compagnia adotterà tutte le misure ragionevolmente necessarie per garantire che i tuoi dati siano
                  trattati in modo sicuro e in conformità con questa Informativa sulla Privacy e nessun trasferimento
                  dei Tuoi Dati Personali avverrà a un'organizzazione o a un paese a meno che non siano presenti
                  controlli adeguati, compresa la sicurezza dei Tuoi dati e altre informazioni personali.</p>
                <p><strong>Divulgazione dei Tuoi Dati Personali</strong></p>
                <p><strong>Forze dell'Ordine</strong></p>
                <p>In determinate circostanze, la Compagnia potrebbe essere tenuta a divulgare i Tuoi Dati Personali se
                  richiesto dalla legge o in risposta a richieste valide da parte di autorità pubbliche (ad esempio, un
                  tribunale o un'agenzia governativa).</p>
                <p><strong>Altri Requisiti Legali</strong></p>
                <p>La Compagnia potrebbe divulgare i Tuoi Dati Personali nella buona fede che tale azione sia necessaria
                  per:</p>
                <ul>
                  <li>Rispettare un obbligo legale</li>
                  <li>Proteggere e difendere i diritti o la proprietà della Compagnia</li>
                  <li>Prevenire o investigare possibili illeciti in connessione con il Servizio</li>
                  <li>Proteggere la sicurezza personale degli Utenti del Servizio o del pubblico</li>
                  <li>Proteggere contro la responsabilità legale</li>
                </ul>
                <p><strong>Sicurezza dei Tuoi Dati Personali</strong></p>
                <p>La sicurezza dei Tuoi Dati Personali è importante per Noi, ma ricorda che nessun metodo di
                  trasmissione via Internet o metodo di archiviazione elettronica è sicuro al 100%. Sebbene ci
                  impegniamo a utilizzare mezzi commercialmente accettabili per proteggere i Tuoi Dati Personali, non
                  possiamo garantirne la sicurezza assoluta. Vengono adottate tutte le pratiche standard della Sicurezza
                  Informatica e la Crittografia per mantenere i dati al sicuro.</p>
                <p><strong>Informazioni Dettagliate sul Trattamento dei Tuoi Dati Personali</strong></p>
                <p>I Fornitori di Servizi che utilizziamo possono avere accesso ai Tuoi Dati Personali. Questi fornitori
                  terzi raccolgono, conservano, utilizzano, elaborano e trasferiscono informazioni sulla tua attività
                  sul Nostro Servizio in conformità con le loro Politiche sulla Privacy.</p>
                <p><strong>Privacy GDPR</strong></p>
                <p><strong>Base Giuridica per il Trattamento dei Dati Personali ai sensi del GDPR</strong></p>
                <p>Possiamo trattare i Dati Personali nelle seguenti condizioni:</p>
                <ul>
                  <li><strong>Consenso:</strong> Hai dato il Tuo consenso al trattamento dei Dati Personali per uno o
                    più specifici scopi.</li>
                  <li><strong>Esecuzione di un contratto:</strong> Il Fornimento dei Dati Personali è necessario per
                    l'esecuzione di un accordo con Te e/o per eventuali obblighi precontrattuali.</li>
                  <li><strong>Obblighi legali:</strong> Il Trattamento dei Dati Personali è necessario per il rispetto
                    di un obbligo legale al quale la Compagnia è soggetta.</li>
                  <li><strong>Interessi vitali:</strong> Il Trattamento dei Dati Personali è necessario per proteggere
                    gli interessi vitali Tuoi o di un'altra persona fisica.</li>
                  <li><strong>Interessi pubblici:</strong> Il Trattamento dei Dati Personali è correlato a un compito
                    svolto nell'interesse pubblico o nell'esercizio dell'autorità pubblica conferita alla Compagnia.
                  </li>
                  <li><strong>Interessi legittimi:</strong> Il Trattamento dei Dati Personali è necessario per
                    perseguire gli interessi legittimi perseguiti dalla Compagnia.</li>
                </ul>
                <p>In ogni caso, la Compagnia sarà lieta di chiarire la base giuridica specifica che si applica al
                  trattamento e in particolare se il Fornimento di Dati Personali è un requisito legale o contrattuale,
                  o un requisito necessario per entrare in un contratto.</p>
                <p><strong>I Tuoi Diritti ai sensi del GDPR</strong></p>
                <p>La Compagnia si impegna a rispettare la riservatezza dei Tuoi Dati Personali e a garantire che Tu
                  possa esercitare i Tuoi diritti.</p>
                <p>Hai il diritto ai sensi di questa Informativa sulla Privacy, e per legge se ti trovi nell'UE, di:</p>
                <ul>
                  <li><strong>Richiedere l'accesso ai Tuoi Dati Personali.</strong> Il diritto di accedere, aggiornare o
                    eliminare le informazioni che abbiamo su di Te. Quando possibile, puoi accedere, aggiornare o
                    richiedere l'eliminazione dei Tuoi Dati Personali direttamente nella sezione Impostazioni del Tuo
                    account. Se non sei in grado di eseguire queste azioni da solo, contattaci per assisterti. Ciò ti
                    consente anche di ricevere una copia dei Dati Personali che deteniamo su di Te.</li>
                  <li><strong>Richiedere la correzione dei Dati Personali che deteniamo su di Te.</strong> Hai il
                    diritto di far correggere qualsiasi informazione incompleta o inaccurata che deteniamo su di Te.
                  </li>
                  <li><strong>Opporsi al trattamento dei Tuoi Dati Personali.</strong> Questo diritto esiste quando ci
                    basiamo su un interesse legittimo come base giuridica per il nostro trattamento e c'è qualcosa sulla
                    tua particolare situazione che ti fa desiderare di opporsi al nostro trattamento dei Tuoi Dati
                    Personali su questa base. Hai anche il diritto di opporsi quando trattiamo i Tuoi Dati Personali per
                    scopi di marketing diretto.</li>
                  <li><strong>Richiedere la cancellazione dei Tuoi Dati Personali.</strong> Hai il diritto di chiederci
                    di cancellare o rimuovere i Dati Personali quando non esiste un motivo valido per continuare a
                    trattarli.</li>
                  <li><strong>Richiedere il trasferimento dei Tuoi Dati Personali.</strong> Ti forniremo, o a un terzo
                    da Te scelto, i Tuoi Dati Personali in un formato strutturato, di uso comune e leggibile da
                    dispositivo automatico. Si prega di notare che questo diritto si applica solo alle informazioni
                    automatizzate di cui hai inizialmente fornito il consenso a noi per utilizzare o dove abbiamo
                    utilizzato le informazioni per stipulare un contratto con Te.</li>
                </ul>
                <p><strong>Esercizio dei Tuoi Diritti di Protezione dei Dati GDPR</strong></p>
                <p>Puoi esercitare i Tuoi diritti di accesso, rettifica, cancellazione e opposizione contattandoci. Si
                  prega di notare che potremmo chiederti di verificare la Tua identità prima di rispondere a tali
                  richieste. Se fai una richiesta, cercheremo di risponderti il prima possibile.</p>
                <p>Hai il diritto di presentare reclamo presso un'Autorità di Protezione dei Dati per la nostra raccolta
                  e utilizzo dei Tuoi Dati Personali. Per ulteriori informazioni, se ti trovi nello Spazio Economico
                  Europeo (SEE), ti preghiamo di contattare la tua autorità di protezione dei dati locale nello SEE.</p>
                <p><strong>Privacy dei Minori</strong></p>
                <p>Il Nostro Servizio non è rivolto a persone di età inferiore ai 13 anni. Non raccogliamo
                  consapevolmente informazioni personali identificabili da persone di età inferiore ai 13 anni. Se sei
                  un genitore o un tutore e sei consapevole che tuo figlio ci ha fornito Dati Personali, ti preghiamo di
                  contattarci. Se veniamo a conoscenza del fatto che abbiamo raccolto Dati Personali da chiunque di età
                  inferiore ai 13 anni senza verifica del consenso parentale, adotteremo provvedimenti per rimuovere
                  tali informazioni dai nostri server.</p>
                <p>Se dobbiamo fare affidamento sul consenso come base giuridica per il trattamento delle tue
                  informazioni e il tuo paese richiede il consenso da parte di un genitore, potremmo richiedere il
                  consenso dei tuoi genitori prima di raccogliere e utilizzare tali informazioni.</p>
                <p><strong>Collegamenti ad Altri Siti Web</strong></p>
                <p>Il nostro Servizio potrebbe contenere collegamenti a siti web di terze parti che non sono gestiti da Noi.
                  Se fai clic su un collegamento di terze parti, verrai reindirizzato al sito di quella terza parte. Ti
                  consigliamo vivamente di rivedere l'Informativa sulla Privacy di ogni sito che visiti.</p>
                <p>Non abbiamo alcun controllo e non assumiamo alcuna responsabilità per i contenuti, le politiche sulla
                  privacy o le pratiche di qualsiasi sito o servizio di terze parti.</p>
                <p><strong>Modifiche a questa Informativa sulla Privacy</strong></p>
                <p>Possiamo aggiornare la nostra Informativa sulla Privacy di tanto in tanto. Ti informeremo di
                  eventuali modifiche pubblicando la nuova Informativa sulla Privacy su questa pagina.</p>
                <p>Ti faremo sapere tramite email e/o un avviso prominente sul nostro Servizio, prima che la modifica
                  diventi effettiva e aggiorneremo la data di "Ultimo aggiornamento" in cima a questa Informativa sulla
                  Privacy.</p>
                <p>Ti consigliamo di rivedere periodicamente questa Informativa sulla Privacy per eventuali modifiche.
                  Le modifiche a questa Informativa sulla Privacy diventano effettive quando vengono pubblicate su
                  questa pagina.</p>
                <p><strong>Contattaci</strong></p>
                <p>Se hai domande su questa Informativa sulla Privacy, puoi contattarci:</p>
                <ul>
                  <li>Inviandoci un'email: giann00palmieri@gmail.com</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
