<div class="form">
  <form (ngSubmit)="submit()">

      <h3>Titolo</h3>
      <input [(ngModel)]="title" name="titleInput" placeholder="Inserisci il titolo">

      <h4>Corpo del testo</h4>
      <textarea [(ngModel)]="text" name="textInput" placeholder="Inserisci il corpo del testo" rows="6"></textarea>
      <br>
      <button type="submit">Salva</button>
  </form>
  <form (ngSubmit)="fileSubmit()">
    <input type="file" name="myFile" (change)="selectFile($event)"/>
    <input type="submit" />
    <p *ngIf="fileUplouded">File caricato</p>
  </form>


</div>
