<div class="form">
  <h2>Note Televisita</h2>
  <form (ngSubmit)="submit()">

      <h4>Titolo</h4>
      <input class="form-control" [(ngModel)]="title" name="titleInput" placeholder="Inserisci il titolo">

      <h4>Descrizione</h4>
      <textarea class="form-control" [(ngModel)]="text" name="textInput" placeholder="Inserisci Descrizione" rows="6"></textarea>
      <br>
      <input class="btn btn-primary" value="Salva" type="submit">
  </form>
  <h2>Carica file</h2>
  <form (ngSubmit)="fileSubmit()">
    
  


  <div class="mb-3">
    
    <input class="form-control" id="file-upload" type="file" name="myFile" (change)="selectFile($event)"/>

  </div>
    <input class="btn btn-primary" value="Carica" type="submit">
  
    <p *ngIf="fileUplouded">File caricato</p>
  </form>


</div>
