.form {

  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  
max-width: 100%;
}

// input, textarea{
//   width: 99%;
//   padding: 3%;
//   border-radius: 20px;
//   margin-top: 5%;
//   margin-bottom: 5%;
// }

h2{
  color: #0044a9;
}

h4{
  color: #32355b;
}