<header>
    <div class="logosec">
      <img src="assets/images/logo.png" class="logo"/>
    </div>
    <div>{{user.name}} {{user.surname}}</div>
    <a (click)="onLogout()" routerLink="/">
      Logout
    </a>
  </header>
  <div class="main-container">
    <div class="box-container">
      <form (ngSubmit)="onSubmit()" #Visitform="ngForm" *ngIf="user.tipo==='medico'">
        <h2>Programma una visita</h2>
        <label for="dataVisita">Data programmata della visita</label>
        <input type="date" name="dataVisita" id="dataVisita" required [(ngModel)]="visit.visitDate"><br>

        <label for="oraVisita">Ora programmata della visita</label>
        <input type="time" name="oraVisita" id="oraVisita" required [(ngModel)]="visit.visitTime"><br>

        <select [(ngModel)]="visit.visitEmail" class="form-control form-control-lg" name="patient" id="type" required>
          <option value="{{undefined}}" selected disabled>Scegli un paziente</option>
          <option *ngFor="let patient of patientList" value="{{patient.mail}}">{{patient.nome + " " + patient.cognome + " - " + patient.mail }}</option>
        </select>

        <button type="submit" [disabled]="Visitform.form.invalid || !visit.visitEmail">
          Invio
        </button>

        <label *ngIf="success">Visita creata con successo!</label>
      </form>
    </div>
    <app-visit-list [id_persona]="user.id_persona"></app-visit-list>
    <app-document-list></app-document-list>
  </div>
